* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 2rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", serif;
  min-height: 100vh;
  background-color: #190033;
}

.snow {
  position: fixed;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
  color: beige;
  filter: blur(3px);
  font-size: 16px;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
